.level-1 h1 {
  font-size: 65px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #333333; }
.level-1 article {
  text-align: center; }

.level-2 h2 {
  position: static;
  border-bottom: 1px solid #333333;
  color: red; }
.level-2 article {
  text-align: center; }

.level-3 h3 {
  position: static;
  border-bottom: 1px solid #333333; }

